.top-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  
}
.work-main{
    display: flex;
    flex-direction: row;
    gap:3rem;
    width: 100%;
    margin-top:9rem;
   
  
}
.trytitle{
    font-size: 10rem;
    color: red;
}

.work-body-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    
}
.work-body-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    gap:1.5rem;
    flex-wrap: wrap;
    ;
   
}
.workspace-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 6rem;
    padding:4rem;
  
}
.workspace-edit
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 6rem;
    border-radius: 2rem;
    padding:4rem;
    border:2px dotted rgb(14, 125, 221);
    margin-top: 3rem;
    
}

