nav {
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#0F0417;
    background-color: transparent;
    /*background-color: #0F0417; */
    padding: 20px;
   
 
  
   
}

 .nav-logo-div{
    width:10%;
 }
 .nav-logo-div a{
    font-size: 14px;
    margin-left: 10px;
    font-weight:700;
 }
 .nav-logo-div img{
    width:100%;
    height:100%;
 }

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
    height: 100%;

    position: relative;
    margin-top:1rem;
    gap:2em;
}
.other-nav-links{
    display: flex;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    color:#0F0417;
    cursor: pointer;
    font-weight: 800;
}


.btn {
    display: none;
    position: absolute;
    right:2.2em;
    top: 15px;
    padding: 5px;
    color: #2a00b3;
    font-size: 8px;
    background-color: transparent;
    border: none;
}
.off{
    color:white;
}
nav a{ 
    color:#334075;
    text-decoration: none;
}
.inside-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right:3em;
    gap:2em;
    
}
.inside-menu li{
    font-size: 14px;
}
.inside-menu li button:hover{
    font-weight: 600;
}
.nav-btn{
    width: 100%;
    background-color: transparent;
    border:none;
    /*border-radius: 50px;*/
    color:#0F0417;
    
    /*margin: 10px 0 0 0;*/
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
   
}
.nav-btn {
    font-size: 1.2em;

}
/*button:hover{
 font-size:1.2em; 
 font-weight: 700;
   
} */
.howto{
    color: #DEE21B!important;
    font-size: medium;
    font-weight: 600;
    background-color: #334075;
    padding:12px;
    border-radius: 5px;
    
}
.howto a{
    color: #DEE21B!important;
}
.howto:hover{
    background: transparent;
    color:#334075;
    border:1px solid #334075;;
    font-size:1.2em;
   
    transition: 600ms ease-in;

}
.howto a:hover{
    color: #334075!important;
}

@media screen and (max-width: 500px){
    
    .nav-logo-div{
        width:25%;
     }
    
    .list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width:100%;
        background: rgba(8, 6, 31, 0.942);
        
        border-radius: 9px;
       
    }
   
    .inside-menu{
        flex-direction: column;
    }
    .items:nth-child(1){
       
        margin-top:10em;
        padding: 1.5em;
    }
    .items {
        width: 100%;
       
        text-align: center;
        margin-right: 0px;
      
       
    }
    nav ul li:hover{
        color: aqua;
    }
    .btn {
        display: block;
    }
    .logo{
        display: flex;
        margin-top:0.5rem;
        margin-left:0.5rem;
     }
   
     .howto{
        margin-top: 12em!important;
        background: transparent;
     }
     .howto:hover{
        background-color: transparent;
        font-weight:300 ;
        color: #fcffa3!important;
        font-size: medium;
    }
    .nav-btn{
      
        color:white;
        margin-right: 10em;
    }
    .nav-btn:hover{
        width:100vw;
        background-color: #4b30a5;
        font-weight: 700!important;
        padding: 20px;

    }
    .inside-menu{
        margin-right: 0px;
        margin-top:10em;
        width:100vw;
    }
    .inside-menu li{
        width:100%;
    }
    .inside-menu li:hover{
        background-color: aliceblue;
    }
   
}